<div style="max-width: 80%; margin-right: auto; margin-left: 7%; margin-top: 1%; margin-bottom: 1%;" onload="checkCookies()">
<div class="band">
<% @setting = Setting.first %>
  <% @name = @setting.setting01 %>
  <% @deck.each do |card| %>
    <% if @setting.setting02 == "true" %>
      <a href="#compareAllModal" style="text-decoration: none;" class="organon-card-front" onclick= "compare(<%= card[:id] %>);" data-toggle="modal" data-target="#compareAllModal" data-card-id="<%= card[:id] %>">
      <div id="<%= card[:id] %>" class="card mx-auto">
      <img id="image" class="organon-card-front card-img-top img-fluid" src= <%= @name %><%= card[:image] %> alt="" data-card-id="<%= card[:id] %>">
      
      <div class="card-block">
        <h4 class="card-title"><%= card[:name] %></h4>
        <br><b><u>Upright:</u></b><br><%= card[:desc] %>
        <br><b><u>Reversed:</u></b><br><%= card[:rdesc] %>
      </div>
    </div>
      </a>
      <%= render "tarot/compareAllmodal" %>
    <% else %>
      <a href="#compareModal" style="text-decoration: none;" class="organon-card-front" onclick= "compare_x(<%= card[:id] %>);" data-toggle="modal" data-target="#compareModal" data-card-id="<%= card[:id] %>">
      <div id="<%= card[:id] %>" class="card mx-auto">
      <img id="image" class="organon-card-front card-img-top img-fluid" src= <%= @name %><%= card[:image] %> alt="" data-card-id="<%= card[:id] %>">
      
      <div class="card-block">
        <h4 class="card-title"><%= card[:name] %></h4>
        <br><b><u>Upright:</u></b><br><%= card[:desc] %>
        <br><b><u>Reversed:</u></b><br><%= card[:rdesc] %>
      </div>
    </div>
      </a>
      <%= render "tarot/comparemodal" %>
    <% end %> 
  <% end %>  
</div>
</div>
     
    
    <button id="B" onclick="myFunctionx()"><i class="fa fa-chevron-right" aria-hidden="true"></i></button>
    <div id="A" class="navbar1">
      <div class="btn-group-vertical">
        <button id= "majoracana_x" type="button" class="btn btn-secondary text-left" style="padding-left:6px" onclick="myFunction1()">♛ Major Arcana</button>
        <button id= "wands_x" type="button" class="btn btn-secondary text-left" style="padding-left:6px" onclick="myFunction2()">♧ Wands</button>
        <button id= "cups_x" type="button" class="btn btn-secondary text-left" style="padding-left:6px" onclick="myFunction3()">♡ Cups</button>
        <button id= "swords_x" type="button" class="btn btn-secondary text-left" style="padding-left:6px" onclick="myFunction4()">♤ Swords</button>
        <button id= "pentacles_x" type="button" class="btn btn-secondary text-left" style="padding-left:6px" onclick="myFunction5()">♢ Pentacles</button>
        <button type="button" class="btn btn-secondary text-left" style="padding-left:6px" onclick="myFunction6()"><i style= "margin-right: 2px;" class="fa fa-eject" aria-hidden="true"></i> Show/hide</button>
      </div>
    </div>
    
   <script>
   var x = 0
   $("#previous-button").click(function(e) {
        e.preventDefault();
        if (x > 0) {
        x = parseInt(x) - 1
        compare(x)
        id = x
        populateModal(cardDB, id, '#cardModal');
        }
    });
   $("#next-button").click(function(e) {
        e.preventDefault();
        if (x < 77) {
        x = parseInt(x) + 1
        compare(x)
        id = x
        populateModal(cardDB, id, '#cardModal');
        }
    });
   $("#previous-button_x").click(function(e) {
        e.preventDefault();
        if (x > 0) {
        x = parseInt(x) - 1
        compare_x(x)
        id = x
        populateModal(cardDB, id, '#cardModal');
        }
    });
   $("#next-button_x").click(function(e) {
        e.preventDefault();
        if (x < 77) {
        x = parseInt(x) + 1
        compare_x(x)
        id = x
        populateModal(cardDB, id, '#cardModal');
        }
    });

$(document).keydown(function(e) {
    switch(e.which) {
        case 37: 
        $('#previous-button').click();
        $('#previous-button_x').click();
        break;

        case 38: // up
        break;

        case 39: // right
        $('#next-button').click();
        $('#next-button_x').click();
        break;

        case 40: // down
        break;

        default: return; // exit this handler for other keys
    }
    e.preventDefault(); // prevent the default action (scroll / move caret)
});

  $('.organon-card-front-new').on('click', function(e) {
    id = x
    populateModal(cardDB, id, '#cardModal');
  });

   function compare(abc) {
     x = abc
    document.getElementById("comparecard1").src = "/images03/mycard" + abc + ".jpg";
    document.getElementById("comparecard2").src = "/images05/mycard" + abc + ".jpg";
    document.getElementById("comparecard3").src = "/images04/mycard" + abc + ".jpg";
    document.getElementById("comparecard4").src = "/images02/mycard" + abc + ".jpg";
    document.getElementById("comparecard5").src = "/images01/mycard" + abc + ".jpg";
    document.getElementById("comparecard6").src = "/images06/mycard" + abc + ".jpg";
    document.getElementById("comparecard7").src = "/images07/mycard" + abc + ".jpg";
    document.getElementById("comparecard8").src = "/images16/mycard" + abc + ".jpg";
    document.getElementById("comparecard9").src = "/images12/mycard" + abc + ".jpg";
    document.getElementById("comparecard10").src = "/images11/mycard" + abc + ".jpg";
    document.getElementById("comparecard11").src = "/images14/mycard" + abc + ".jpg";
    document.getElementById("comparecard12").src = "/images15/mycard" + abc + ".jpg";

    document.getElementById("comparecard1").setAttribute('data-card-id', abc);
    document.getElementById("comparecard2").setAttribute('data-card-id', abc);
    document.getElementById("comparecard3").setAttribute('data-card-id', abc);
    document.getElementById("comparecard4").setAttribute('data-card-id', abc);
    document.getElementById("comparecard5").setAttribute('data-card-id', abc);
    document.getElementById("comparecard6").setAttribute('data-card-id', abc);
    document.getElementById("comparecard7").setAttribute('data-card-id', abc);
    document.getElementById("comparecard8").setAttribute('data-card-id', abc);
    document.getElementById("comparecard9").setAttribute('data-card-id', abc);
    document.getElementById("comparecard10").setAttribute('data-card-id', abc);
    document.getElementById("comparecard11").setAttribute('data-card-id', abc);
    document.getElementById("comparecard12").setAttribute('data-card-id', abc);
}
   function compare_x(abc) {
     x = abc
    document.getElementById("comparecard_x_1").src = "/images03/mycard" + abc + ".jpg";
    document.getElementById("comparecard_x_2").src = "/images05/mycard" + abc + ".jpg";
    document.getElementById("comparecard_x_3").src = "/images04/mycard" + abc + ".jpg";
    document.getElementById("comparecard_x_4").src = "/images02/mycard" + abc + ".jpg";
    document.getElementById("comparecard_x_5").src = "/images01/mycard" + abc + ".jpg";

    document.getElementById("comparecard_x_1").setAttribute('data-card-id', abc);
    document.getElementById("comparecard_x_2").setAttribute('data-card-id', abc);
    document.getElementById("comparecard_x_3").setAttribute('data-card-id', abc);
    document.getElementById("comparecard_x_4").setAttribute('data-card-id', abc);
    document.getElementById("comparecard_x_5").setAttribute('data-card-id', abc);
}

      function cbo_CardDeck_onchange(){
        var e = document.getElementById("cbo_CardDeck").value;
            $('#name').val(e)

        $.ajax({
          url: "index.html",
          cache: false,
          success: function(data){
             $("#band").load(location.href + " #band>*", "");
          } 
        });
      }
      document.getElementById("cbo_CardDeck").onchange = cbo_CardDeck_onchange;

      document.getElementById("changedeck").innerHTML =  n ;
      
    function myFunction1() {
    var elmnt = document.getElementById("0");
    elmnt.scrollIntoView();
    }
    function myFunction2() {
    var elmnt = document.getElementById("22");
    elmnt.scrollIntoView();
    }
    function myFunction3() {
    var elmnt = document.getElementById("36");
    elmnt.scrollIntoView();
    }
    function myFunction4() {
    var elmnt = document.getElementById("50");
    elmnt.scrollIntoView();
    }
    function myFunction5() {
    var elmnt = document.getElementById("64");
    elmnt.scrollIntoView();
    }
    
    var btn_mean=true;
    function myFunction6() {
    if(btn_mean) {
        $(".card-block").show(300);  
        btn_mean=false;      
        }else{
        btn_mean=true;
        $(".card-block").hide(300);          
        }
    }

    var btn_t=true;
    function myFunctionx() {
        $('#B').find('i').toggleClass('fa-chevron-right fa-chevron-left')
        if(btn_t) {
        $('#A').animate({"right":"5px","width":"148px"}, 500);
        $('#B').animate({"right":"155px","":""}, 500);
        btn_t=false;
        }else{
        btn_t=true;
        $('#A').animate({"right":"-125px","width":"148px"}, 500);
        $('#B').animate({"right":"27px","":""}, 500);
        }
     }

   </script>

