<% libraryid = (request.original_url.split('/').last) %>

<%= simple_form_for @cardlibrary do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <a href="#" data-toggle="modal" data-target="#cardlistModal" ><i class="fa fa-university"></i>Select card here!!</a>
    <%= f.input :cardid %>
    <%= f.input :name %>
    <%= f.input :description, as: :text %>
    <%= f.input :cardno %>
    <%= f.input :value %>
    <% if libraryid == 'edit'%>
    <%= f.association :library %>
    <% else %>
    <%= f.association :library, selected: libraryid %>
    <% end %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>

<%= render "cardlibraries/cardlist" %>