<div id="wrapper" class="toggled">

        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li class="sidebar-brand">
                        <%= link_to 'Mgctr78 Library', libraries_path %>        
                </li>
                <li><%= link_to '<i class="fa fa-plus-square-o" aria-hidden="true"></i> Add new'.html_safe, new_library_path %></li>
                <br>
                <% @libraries.order(:id).each do |library| %>
                <li> 
                    <%= link_to library do %>
                      <p11><%= library.name %></p11>
                      <span style="display: inline;" class="badge badge-pill badge-default"><%= @cardlibraryx.where(library_id: library.id).count %></span>
                    <% end %>
                </li>
                <% end %>
            </ul>
        </div>
        <!-- /#sidebar-wrapper -->

        <!-- Page Content -->
        <div id="page-content-wrapper">
            <div class="container-fluid">
                <div id="showitem"><%= render "libraries/showold" %></div>
            </div>
        </div>
        <!-- /#page-content-wrapper -->

    </div>
    <!-- /#wrapper -->



