<% @setting = Setting.first %>
<% @selectedname = @setting.setting03 %>

<% @setting = Setting.first %> <% @selectedname = @setting.setting03 %>  <% @card = Card.new %> 
<%= simple_form_for @card, :remote => true, url: {controller: "cards", action: "create"} do |f| %>
  <%= f.association :person, selected: @selectedname,selected: @selectedname, input_html: { id: 'selectized_12_'} %>
  <%= f.input :name %>
  <%= f.input :date %>
  <div class="form-actions">
      <%= f.submit data: {confirm: 'Do you want to Save Cards?', commit: 'Save!'} %>
  </div>

  <div class="band3">
      <%= f.input :card01, :input_html => { :id => 'cardf_12_01' } %>
      <%= f.input :card02, :input_html => { :id => 'cardf_12_02' } %>
      <%= f.input :card03, :input_html => { :id => 'cardf_12_03' } %>
      <%= f.input :card04, :input_html => { :id => 'cardf_12_04' } %>
      <%= f.input :card05, :input_html => { :id => 'cardf_12_05' } %>
      <%= f.input :card06, :input_html => { :id => 'cardf_12_06' } %>
      <%= f.input :card07, :input_html => { :id => 'cardf_12_07' } %>
      <%= f.input :card08, :input_html => { :id => 'cardf_12_08' } %>
      <%= f.input :card09, :input_html => { :id => 'cardf_12_09' } %>
      <%= f.input :card10, :input_html => { :id => 'cardf_12_10' } %>
      <%= f.input :card11, :input_html => { :id => 'cardf_12_11' } %>
      <%= f.input :card12, :input_html => { :id => 'cardf_12_12' } %>
  </div>
<% end %>


