    <div id="wrapper_8_">
        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav" style="padding: 5px;">
              <%= render "tarot8/cardsave" %>
            </ul>
        </div>
        <!-- /#sidebar-wrapper -->

        <!-- Page Content -->
        <div id="page-content-wrapper">
          <img href="#menu-toggle" class="cbShuffle menu-toggle" alt="" src="../imagesxx/button03.png" style="left:0%; top: 0%"; title="Flip cards" >
          <a id="nameselect_8_" href="#menu-toggle" class="cbShuffle menu-toggle" style="position: absolute; top: -1.8%; left: 3%; font-size: 40px; color:#474747;" title="name"></a>
            <%= render "tarot8/onecard" %>
            <% @setting = Setting.first %>
            <% if @setting.setting02 == "true" %>
            <% meaning = "#compareAllModal"%>
            <% else %>
            <% meaning = "#compareModal" %>
            <% end %>
            <div id="contentreload_8_" class="container-fluid" >
                <div class="row">
                    <div class="col-lg-12">
      <table class="cb4spread cbFont2" border="0" cellpadding="0" cellspacing="0">
      <tbody>
        <tr style="height:2vh; vertical-align:top;">
        <td></td><td></td><td></td><td></td><td></td><td></td></tr>

        <tr style="height:20vh; vertical-align:top;">
        
        
        <td class="td25">
          <div class="cbCrd0az">
            <div class="flip">
              <div class="card_8_1"> 
                <div class="face front"> 
                  <div class="inner"> 
                    <div id="carddrop_8_01" class="cbCrd1z f" onmouseover="target_mouseover(this);" onmouseout="target_mouseout(this);" ondrop="drop_8_01(event)" ondragover="allowDrop(event)" ondragleave="removeStyle(event)">1

                    <img id="cardimage_8_x_1" class="mgCard organon-card-front" style="top: 0%; left: 0%; visibility: hidden; background-size: contain; background-repeat: no-repeat; height: 100%; width: 100%;" src="" draggable="false" ondragstart="drag(event);" onclick="compare()" data-toggle="modal" data-target= <%= meaning %> data-card-id="" data-parent="cards1">

                    </div>
                  </div>
                </div> 
                <div class="face back"> 
                  <div class="inner text-center">
                    <img id="cardback_8_1" class="cbCrd1z" style="border-radius: 5px; text-align:center; visibility: hidden; " src="./<%= @name %>/CardBack.jpg" draggable="false" ondragstart="drag(event);" onclick="press(event);">
                  </div>
                </div>
              </div>	 
            </div>	
          </div>
        </td>
        <td class="td25">
          <div class="cbCrd0az">
            <div class="flip">
              <div class="card_8_2"> 
                <div class="face front"> 
                  <div class="inner"> 
                    <div id="carddrop_8_02" class="cbCrd1z f" onmouseover="target_mouseover(this);" onmouseout="target_mouseout(this);" ondrop="drop_8_02(event)" ondragover="allowDrop(event)" ondragleave="removeStyle(event)">2

                    <img id="cardimage_8_x_2" class="mgCard organon-card-front" style="top: 0%; left: 0%; visibility: hidden; background-size: contain; background-repeat: no-repeat; height: 100%; width: 100%;" src="" draggable="false" ondragstart="drag(event);" onclick="compare()" data-toggle="modal" data-target= <%= meaning %> data-card-id="" data-parent="cards1">
                    
                    </div>
                  </div>
                </div> 
                <div class="face back"> 
                  <div class="inner text-center">
                    <img id="cardback_8_2" class="cbCrd1z" style="border-radius: 5px; text-align:center; visibility: hidden; " src="./<%= @name %>/CardBack.jpg" draggable="false" ondragstart="drag(event);" onclick="press(event);">
                  </div>
                </div>
              </div>	 
            </div>	
          </div>
        </td>
        <td class="td25">
          <div class="cbCrd0az">
            <div class="flip">
              <div class="card_8_3"> 
                <div class="face front"> 
                  <div class="inner"> 
                    <div id="carddrop_8_03" class="cbCrd1z f" onmouseover="target_mouseover(this);" onmouseout="target_mouseout(this);" ondrop="drop_8_03(event)" ondragover="allowDrop(event)" ondragleave="removeStyle(event)">3

                    <img id="cardimage_8_x_3" class="mgCard organon-card-front" style="top: 0%; left: 0%; visibility: hidden; background-size: contain; background-repeat: no-repeat; height: 100%; width: 100%;" src="" draggable="false" ondragstart="drag(event);" onclick="compare()" data-toggle="modal" data-target= <%= meaning %> data-card-id="" data-parent="cards1">
                    
                    </div>
                  </div>
                </div> 
                <div class="face back"> 
                  <div class="inner text-center">
                    <img id="cardback_8_3" class="cbCrd1z" style="border-radius: 5px; text-align:center; visibility: hidden; " src="./<%= @name %>/CardBack.jpg" draggable="false" ondragstart="drag(event);" onclick="press(event);">
                  </div>
                </div>
              </div>	 
            </div>	
          </div>
        </td>
        <td class="td25">
          <div class="cbCrd0az">
            <div class="flip">
              <div class="card_8_4"> 
                <div class="face front"> 
                  <div class="inner"> 
                    <div id="carddrop_8_04" class="cbCrd1z f" onmouseover="target_mouseover(this);" onmouseout="target_mouseout(this);" ondrop="drop_8_04(event)" ondragover="allowDrop(event)" ondragleave="removeStyle(event)">4

                    <img id="cardimage_8_x_4" class="mgCard organon-card-front" style="top: 0%; left: 0%; visibility: hidden; background-size: contain; background-repeat: no-repeat; height: 100%; width: 100%;" src="" draggable="false" ondragstart="drag(event);" onclick="compare()" data-toggle="modal" 
                    data-target= <%= meaning %> data-card-id="" data-parent="cards1">
                    
                    </div>
                  </div>
                </div> 
                <div class="face back"> 
                  <div class="inner text-center">
                    <img id="cardback_8_4" class="cbCrd1z" style="border-radius: 5px; text-align:center; visibility: hidden; " src="./<%= @name %>/CardBack.jpg" draggable="false" ondragstart="drag(event);" onclick="press(event);">
                  </div>
                </div>
              </div>	 
            </div>	
          </div>
        </td>
        
        </tr>
        
        <tr style="height:2vh;">
        <td></td><td></td><td></td><td></td><td></td><td></td></tr>
        
        <tr style="height:20vh; vertical-align:top;">
        
        <td class="td25">
          <div class="cbCrd0az">
            <div class="flip">
              <div class="card_8_5"> 
                <div class="face front"> 
                  <div class="inner"> 
                    <div id="carddrop_8_05" class="cbCrd1z f" onmouseover="target_mouseover(this);" onmouseout="target_mouseout(this);" ondrop="drop_8_05(event)" ondragover="allowDrop(event)" ondragleave="removeStyle(event)">5

                    <img id="cardimage_8_x_5" class="mgCard organon-card-front" style="top: 0%; left: 0%; visibility: hidden; background-size: contain; background-repeat: no-repeat; height: 100%; width: 100%;" src="" draggable="false" ondragstart="drag(event);" onclick="compare()" data-toggle="modal" data-target= <%= meaning %> data-card-id="" data-parent="cards1">
                    
                    </div>
                  </div>
                </div> 
                <div class="face back"> 
                  <div class="inner text-center">
                    <img id="cardback_8_5" class="cbCrd1z" style="border-radius: 5px; text-align:center; visibility: hidden; " src="./<%= @name %>/CardBack.jpg" draggable="false" ondragstart="drag(event);" onclick="press(event);">
                  </div>
                </div>
              </div>	 
            </div>	
          </div>
        </td>
        <td class="td25">
          <div class="cbCrd0az">
            <div class="flip">
              <div class="card_8_6"> 
                <div class="face front"> 
                  <div class="inner"> 
                    <div id="carddrop_8_06" class="cbCrd1z f" onmouseover="target_mouseover(this);" onmouseout="target_mouseout(this);" ondrop="drop_8_06(event)" ondragover="allowDrop(event)" ondragleave="removeStyle(event)">6

                    <img id="cardimage_8_x_6" class="mgCard organon-card-front" style="top: 0%; left: 0%; visibility: hidden; background-size: contain; background-repeat: no-repeat; height: 100%; width: 100%;" src="" draggable="false" ondragstart="drag(event);" onclick="compare()" data-toggle="modal" data-target= <%= meaning %> data-card-id="" data-parent="cards1">
                    
                    </div>
                  </div>
                </div> 
                <div class="face back"> 
                  <div class="inner text-center">
                    <img id="cardback_8_6" class="cbCrd1z" style="border-radius: 5px; text-align:center; visibility: hidden; " src="./<%= @name %>/CardBack.jpg" draggable="false" ondragstart="drag(event);" onclick="press(event);">
                  </div>
                </div>
              </div>	 
            </div>	
          </div>
        </td>
        <td class="td25">
          <div class="cbCrd0az">
            <div class="flip">
              <div class="card_8_7"> 
                <div class="face front"> 
                  <div class="inner"> 
                    <div id="carddrop_8_07" class="cbCrd1z f" onmouseover="target_mouseover(this);" onmouseout="target_mouseout(this);" ondrop="drop_8_07(event)" ondragover="allowDrop(event)" ondragleave="removeStyle(event)">7

                    <img id="cardimage_8_x_7" class="mgCard organon-card-front" style="top: 0%; left: 0%; visibility: hidden; background-size: contain; background-repeat: no-repeat; height: 100%; width: 100%;" src="" draggable="false" ondragstart="drag(event);" onclick="compare()" data-toggle="modal" data-target= <%= meaning %> data-card-id="" data-parent="cards1">
                    
                    </div>
                  </div>
                </div> 
                <div class="face back"> 
                  <div class="inner text-center">
                    <img id="cardback_8_7" class="cbCrd1z" style="border-radius: 5px; text-align:center; visibility: hidden; " src="./<%= @name %>/CardBack.jpg" draggable="false" ondragstart="drag(event);" onclick="press(event);">
                  </div>
                </div>
              </div>	 
            </div>	
          </div>
        </td>
        <td class="td25">
          <div class="cbCrd0az">
            <div class="flip">
              <div class="card_8_8"> 
                <div class="face front"> 
                  <div class="inner"> 
                    <div id="carddrop_8_08" class="cbCrd1z f" onmouseover="target_mouseover(this);" onmouseout="target_mouseout(this);" ondrop="drop_8_08(event)" ondragover="allowDrop(event)" ondragleave="removeStyle(event)">8

                    <img id="cardimage_8_x_8" class="mgCard organon-card-front" style="top: 0%; left: 0%; visibility: hidden; background-size: contain; background-repeat: no-repeat; height: 100%; width: 100%;" src="" draggable="false" ondragstart="drag(event);" onclick="compare()" data-toggle="modal" data-target= <%= meaning %> data-card-id="" data-parent="cards1">
                    
                    </div>
                  </div>
                </div> 
                <div class="face back"> 
                  <div class="inner text-center">
                    <img id="cardback_8_8" class="cbCrd1z" style="border-radius: 5px; text-align:center; visibility: hidden; " src="./<%= @name %>/CardBack.jpg" draggable="false" ondragstart="drag(event);" onclick="press(event);">
                  </div>
                </div>
              </div>	 
            </div>	
          </div>
        </td>
        
        </tr>
        
        <tr style="height:2vh;"><td></td><td></td><td></td><td></td><td></td><td></td></tr>

        <tr style="height:20vh; vertical-align:top;">
        
        <td class="td25">
          <div class="cbCrd0az">
            <div class="flip">
              <div class="card_8_9"> 
                <div class="face front"> 
                  <div class="inner"> 
                    <div id="carddrop_8_09" class="cbCrd1z f" onmouseover="target_mouseover(this);" onmouseout="target_mouseout(this);" ondrop="drop_8_09(event)" ondragover="allowDrop(event)" ondragleave="removeStyle(event)">9

                    <img id="cardimage_8_x_9" class="mgCard organon-card-front" style="top: 0%; left: 0%; visibility: hidden; background-size: contain; background-repeat: no-repeat; height: 100%; width: 100%;" src="" draggable="false" ondragstart="drag(event);" onclick="compare()" data-toggle="modal" data-target= <%= meaning %> data-card-id="" data-parent="cards1">
                    
                    </div>
                  </div>
                </div> 
                <div class="face back"> 
                  <div class="inner text-center">
                    <img id="cardback_8_9" class="cbCrd1z" style="border-radius: 5px; text-align:center; visibility: hidden; " src="./<%= @name %>/CardBack.jpg" draggable="false" ondragstart="drag(event);" onclick="press(event);">
                  </div>
                </div>
              </div>	 
            </div>	
          </div>
        </td>
        <td class="td25">
          <div class="cbCrd0az">
            <div class="flip">
              <div class="card_8_10"> 
                <div class="face front"> 
                  <div class="inner"> 
                    <div id="carddrop_8_10" class="cbCrd1z f" onmouseover="target_mouseover(this);" onmouseout="target_mouseout(this);" ondrop="drop_8_10(event)" ondragover="allowDrop(event)" ondragleave="removeStyle(event)">10

                    <img id="cardimage_8_x_10" class="mgCard organon-card-front" style="top: 0%; left: 0%; visibility: hidden; background-size: contain; background-repeat: no-repeat; height: 100%; width: 100%;" src="" draggable="false" ondragstart="drag(event);" onclick="compare()" data-toggle="modal" data-target= <%= meaning %> data-card-id="" data-parent="cards1">
                    
                    </div>
                  </div>
                </div> 
                <div class="face back"> 
                  <div class="inner text-center">
                    <img id="cardback_8_10" class="cbCrd1z" style="border-radius: 5px; text-align:center; visibility: hidden; " src="./<%= @name %>/CardBack.jpg" draggable="false" ondragstart="drag(event);" onclick="press(event);">
                  </div>
                </div>
              </div>	 
            </div>	
          </div>
        </td>
        <td class="td25">
          <div class="cbCrd0az">
            <div class="flip">
              <div class="card_8_11"> 
                <div class="face front"> 
                  <div class="inner"> 
                    <div id="carddrop_8_11" class="cbCrd1z f" onmouseover="target_mouseover(this);" onmouseout="target_mouseout(this);" ondrop="drop_8_11(event)" ondragover="allowDrop(event)" ondragleave="removeStyle(event)">11

                    <img id="cardimage_8_x_11" class="mgCard organon-card-front" style="top: 0%; left: 0%; visibility: hidden; background-size: contain; background-repeat: no-repeat; height: 100%; width: 100%;" src="" draggable="false" ondragstart="drag(event);" onclick="compare()" data-toggle="modal" data-target= <%= meaning %> data-card-id="" data-parent="cards1">
                    
                    </div>
                  </div>
                </div> 
                <div class="face back"> 
                  <div class="inner text-center">
                    <img id="cardback_8_11" class="cbCrd1z" style="border-radius: 5px; text-align:center; visibility: hidden; " src="./<%= @name %>/CardBack.jpg" draggable="false" ondragstart="drag(event);" onclick="press(event);">
                  </div>
                </div>
              </div>	 
            </div>	
          </div>
        </td>
        <td class="td25">
          <div class="cbCrd0az">
            <div class="flip">
              <div class="card_8_12"> 
                <div class="face front"> 
                  <div class="inner"> 
                    <div id="carddrop_8_12" class="cbCrd1z f" onmouseover="target_mouseover(this);" onmouseout="target_mouseout(this);" ondrop="drop_8_12(event)" ondragover="allowDrop(event)" ondragleave="removeStyle(event)">12

                    <img id="cardimage_8_x_12" class="mgCard organon-card-front" style="top: 0%; left: 0%; visibility: hidden; background-size: contain; background-repeat: no-repeat; height: 100%; width: 100%;" src="" draggable="false" ondragstart="drag(event);" onclick="compare()" data-toggle="modal" data-target= <%= meaning %> data-card-id="" data-parent="cards1">
                    
                    </div>
                  </div>
                </div> 
                <div class="face back"> 
                  <div class="inner text-center">
                    <img id="cardback_8_12" class="cbCrd1z" style="border-radius: 5px; text-align:center; visibility: hidden; " src="./<%= @name %>/CardBack.jpg" draggable="false" ondragstart="drag(event);" onclick="press(event);">
                  </div>
                </div>
              </div>	 
            </div>	
          </div>
        </td>
        
        </tr>
        
        <tr style="height:2vh;"><td></td><td></td><td></td><td></td><td></td><td></td></tr>
        
      </tbody>
    </table>
                    </div>
                </div>
            </div>
        </div>
        <!-- /#page-content-wrapper -->

    </div>
    <!-- /#wrapper -->
    

<script>

var btn_sword_8_ = true;
function oneCard_8_(){
    if(btn_sword_8_) {
    $('#contentreload_8_').show().delay(1000).hide();
    $('#contentonecard_8_').hide().delay(1000).show();
    document.getElementById("contentonecard_8_").style.visibility = 'visible';
    btn_sword_8_=false;
    }else{
    $('#contentreload_8_').hide().delay(1000).show();
    $('#contentonecard_8_').show().delay(1000).hide();
   document.getElementById("contentonecard_8_").style.visibility = 'hidden';

    btn_sword_8_=true;
    }
}

function drag(ev) {
    var el = ev.target;
    var parent = el.getAttribute("data-parent");
    
    if(!parent){
        el.setAttribute("data-parent", el.parentNode.id);
    }
    
    ev.dataTransfer.setData("Text", el.id);
    
}

function dragEnter(e){
  if (e.stopPropagation) e.stopPropagation();
  this.className = this.className + " dropover";
}

function dragLeave(e){
  if (e.stopPropagation) e.stopPropagation();
  this.className = this.className.replace('dropover','');
}

function dragOver(e){
  if (e.stopPropagation) e.stopPropagation();
  e.preventDefault();
  e.dataTransfer.dropEffect = 'copy';
  return false; 
}

function init(){
  
  var boxes = document.querySelectorAll('.box'),
      dropZone = document.getElementById('dropzone');
  
  for( var i=0,len=boxes.length; i<len; i++ ){
    boxes[i].addEventListener('dragstart', dragStart, false);
    boxes[i].addEventListener('dragend', dragEnd, false);
  }
  
  dropZone.addEventListener('dragenter', dragEnter, false);
  dropZone.addEventListener('dragleave', dragLeave, false);
  dropZone.addEventListener('dragover', dragOver, false);
  dropZone.addEventListener('drop', drop, false);
}

init();


function drop(e){
  if (e.stopPropagation) e.stopPropagation();
  var removeEl = e.dataTransfer.getData('text'),
      boxes = document.getElementsByClassName('box'),
      dropZone = document.getElementById('dropzone');
  
  for( var i=0; i<boxes.length; i++ ){
    
    if( boxes[i].text == removeEl ){
      boxes[i].parentNode.removeChild(boxes[i]);
     
      if( boxes.length <= 0 ){
        
        var a = document.createElement('a'),
            h3 = document.createElement('h3'),
            boxWrapper = document.getElementsByClassName('drop-boxes');
        h3.innerHTML = "Hooray! You removed all the boxes.";
        a.setAttribute('href','#');
        a.setAttribute('id','restartLink');
        a.addEventListener('click',restartLink,false);
        
        a.className = 'show';
        a.innerHTML = 'Click me to restart.';
        
        boxWrapper[0].appendChild(h3);
        boxWrapper[0].appendChild(a);
        dropZone.className = 'hide';
      }
    }
  }
  
  this.className = this.className.replace('dropover','');
  return false;
}

function drop_8_01(ev) {

    ev.preventDefault();
    var data = ev.dataTransfer.getData("Text");
    ev.target.appendChild(document.getElementById(data));
    document.getElementById(data).style.height = "100%";
    document.getElementById(data).style.width = "100%";
    document.getElementById(data).style.left = "0%";
    document.getElementById(data).style.top = "0%";
    document.getElementById(data).setAttribute('draggable', false);
    
    document.getElementById(data).setAttribute('data-toggle', "modal");
    document.getElementById("cardback_8_1").setAttribute('onclick', "return flip_8_1()");
    document.getElementById("carddrop_8_01").setAttribute('ondragleave', "");

    var abc =  document.getElementById(data);
    document.getElementById(data).src = "/<%= @name %>/mycard" + abc.id + ".jpg";
    document.getElementById(data).setAttribute('onclick', "compare(" + abc.id + ")" );

    document.getElementById("cardback_8_1").style.visibility = 'visible';
    document.getElementById("cardback_8_1").setAttribute('id', abc.id);
    $('.card_8_1').toggleClass('flipped');

    document.getElementById("cardf_8_01").value = abc.id;
    document.getElementById("cardimage_8_1").src = "/<%= @name %>/mycard" + abc.id + ".jpg";
    document.getElementById("cardback_8_1").src = "./<%= @name %>/CardBack.jpg";
    document.getElementById("cardimage_8_1").setAttribute('onclick', "compare(" + abc.id + ")" );
    document.getElementById("cardimage_8_1").setAttribute('data-card-id', abc.id);
    document.getElementById("cardimage_8_1").style.visibility = 'visible';
}

function drop_8_02(ev) {

    ev.preventDefault();
    var data = ev.dataTransfer.getData("Text");
    ev.target.appendChild(document.getElementById(data));
    document.getElementById(data).style.height = "100%";
    document.getElementById(data).style.width = "100%";
    document.getElementById(data).style.left = "0%";
    document.getElementById(data).style.top = "0%";
    document.getElementById(data).setAttribute('draggable', false);
    document.getElementById(data).setAttribute('data-toggle', "modal");
    document.getElementById("cardback_8_2").setAttribute('onclick', "return flip_8_2()");
    document.getElementById("carddrop_8_02").setAttribute('ondragleave', "");

    var abc =  document.getElementById(data);
    document.getElementById(data).src = "/<%= @name %>/mycard" + abc.id + ".jpg";
    document.getElementById(data).setAttribute('onclick', "compare(" + abc.id + ")" );
    

    document.getElementById("cardback_8_2").style.visibility = 'visible';
    document.getElementById("cardback_8_2").setAttribute('id', abc.id);
    $('.card_8_2').toggleClass('flipped');

    document.getElementById("cardf_8_02").value = abc.id;
    document.getElementById("cardimage_8_2").src = "/<%= @name %>/mycard" + abc.id + ".jpg";
    document.getElementById("cardback_8_2").src = "./<%= @name %>/CardBack.jpg";
    
    document.getElementById("cardimage_8_2").setAttribute('onclick', "compare(" + abc.id + ")" );
    document.getElementById("cardimage_8_2").setAttribute('data-card-id', abc.id);
    document.getElementById("cardimage_8_2").style.visibility = 'visible';
}

function drop_8_03(ev) {

    ev.preventDefault();
    var data = ev.dataTransfer.getData("Text");
    ev.target.appendChild(document.getElementById(data));
    document.getElementById(data).style.height = "100%";
    document.getElementById(data).style.width = "100%";
    document.getElementById(data).style.left = "0%";
    document.getElementById(data).style.top = "0%";
    document.getElementById(data).setAttribute('draggable', false);
    document.getElementById(data).setAttribute('onclick', "compare()");
    document.getElementById(data).setAttribute('data-toggle', "modal");
    document.getElementById("cardback_8_3").setAttribute('onclick', "return flip_8_3()");
    document.getElementById("carddrop_8_03").setAttribute('ondragleave', "");

    var abc =  document.getElementById(data);
    document.getElementById(data).src = "/<%= @name %>/mycard" + abc.id + ".jpg";
    document.getElementById(data).setAttribute('onclick', "compare(" + abc.id + ")" );
    

    document.getElementById("cardback_8_3").style.visibility = 'visible';
    document.getElementById("cardback_8_3").setAttribute('id', abc.id);
    $('.card_8_3').toggleClass('flipped');

    document.getElementById("cardf_8_03").value = abc.id;
    document.getElementById("cardimage_8_3").src = "/<%= @name %>/mycard" + abc.id + ".jpg";
    document.getElementById("cardback_8_3").src = "./<%= @name %>/CardBack.jpg";
    
    document.getElementById("cardimage_8_3").setAttribute('onclick', "compare(" + abc.id + ")" );
    document.getElementById("cardimage_8_3").setAttribute('data-card-id', abc.id);
    document.getElementById("cardimage_8_3").style.visibility = 'visible';
}

function drop_8_04(ev) {

    ev.preventDefault();
    var data = ev.dataTransfer.getData("Text");
    ev.target.appendChild(document.getElementById(data));
    document.getElementById(data).style.height = "100%";
    document.getElementById(data).style.width = "100%";
    document.getElementById(data).style.left = "0%";
    document.getElementById(data).style.top = "0%";
    document.getElementById(data).setAttribute('draggable', false);
    document.getElementById(data).setAttribute('onclick', "compare()");
    document.getElementById(data).setAttribute('data-toggle', "modal");
    document.getElementById("cardback_8_4").setAttribute('onclick', "return flip_8_4()");
    document.getElementById("carddrop_8_04").setAttribute('ondragleave', "");

    var abc =  document.getElementById(data);
    document.getElementById(data).src = "/<%= @name %>/mycard" + abc.id + ".jpg";
    document.getElementById(data).setAttribute('onclick', "compare(" + abc.id + ")" );
    

    document.getElementById("cardback_8_4").style.visibility = 'visible';
    document.getElementById("cardback_8_4").setAttribute('id', abc.id);
    $('.card_8_4').toggleClass('flipped');

    document.getElementById("cardf_8_04").value = abc.id;
    document.getElementById("cardimage_8_4").src = "/<%= @name %>/mycard" + abc.id + ".jpg";
    document.getElementById("cardback_8_4").src = "./<%= @name %>/CardBack.jpg";
    
    document.getElementById("cardimage_8_4").setAttribute('onclick', "compare(" + abc.id + ")" );
    document.getElementById("cardimage_8_4").setAttribute('data-card-id', abc.id);
    document.getElementById("cardimage_8_4").style.visibility = 'visible';
}
function drop_8_05(ev) {

    ev.preventDefault();
    var data = ev.dataTransfer.getData("Text");
    ev.target.appendChild(document.getElementById(data));
    document.getElementById(data).style.height = "100%";
    document.getElementById(data).style.width = "100%";
    document.getElementById(data).style.left = "0%";
    document.getElementById(data).style.top = "0%";
    document.getElementById(data).setAttribute('draggable', false);
    
    document.getElementById(data).setAttribute('data-toggle', "modal");
    document.getElementById("cardback_8_5").setAttribute('onclick', "return flip_8_5()");
    document.getElementById("carddrop_8_05").setAttribute('ondragleave', "");

    var abc =  document.getElementById(data);
    document.getElementById(data).src = "/<%= @name %>/mycard" + abc.id + ".jpg";
    document.getElementById(data).setAttribute('onclick', "compare(" + abc.id + ")" );

    document.getElementById("cardback_8_5").style.visibility = 'visible';
    document.getElementById("cardback_8_5").setAttribute('id', abc.id);
    $('.card_8_5').toggleClass('flipped');

    document.getElementById("cardf_8_05").value = abc.id;
    document.getElementById("cardimage_8_5").src = "/<%= @name %>/mycard" + abc.id + ".jpg";
    document.getElementById("cardback_8_5").src = "./<%= @name %>/CardBack.jpg";

    document.getElementById("cardimage_8_5").setAttribute('onclick', "compare(" + abc.id + ")" );
    document.getElementById("cardimage_8_5").setAttribute('data-card-id', abc.id);
    document.getElementById("cardimage_8_5").style.visibility = 'visible';
}
function drop_8_06(ev) {

    ev.preventDefault();
    var data = ev.dataTransfer.getData("Text");
    ev.target.appendChild(document.getElementById(data));
    document.getElementById(data).style.height = "100%";
    document.getElementById(data).style.width = "100%";
    document.getElementById(data).style.left = "0%";
    document.getElementById(data).style.top = "0%";
    document.getElementById(data).setAttribute('draggable', false);
    document.getElementById(data).setAttribute('onclick', "compare()");
    document.getElementById(data).setAttribute('data-toggle', "modal");
    document.getElementById("cardback_8_6").setAttribute('onclick', "return flip_8_6()");
    document.getElementById("carddrop_8_06").setAttribute('ondragleave', "");

    var abc =  document.getElementById(data);
    document.getElementById(data).src = "/<%= @name %>/mycard" + abc.id + ".jpg";
    document.getElementById(data).setAttribute('onclick', "compare(" + abc.id + ")" );
    

    document.getElementById("cardback_8_6").style.visibility = 'visible';
    document.getElementById("cardback_8_6").setAttribute('id', abc.id);
    $('.card_8_6').toggleClass('flipped');

    document.getElementById("cardf_8_06").value = abc.id;
    document.getElementById("cardimage_8_6").src = "/<%= @name %>/mycard" + abc.id + ".jpg";
    document.getElementById("cardback_8_6").src = "./<%= @name %>/CardBack.jpg";

    document.getElementById("cardimage_8_6").setAttribute('onclick', "compare(" + abc.id + ")" );
    document.getElementById("cardimage_8_6").setAttribute('data-card-id', abc.id);
    document.getElementById("cardimage_8_6").style.visibility = 'visible';
}
function drop_8_07(ev) {

    ev.preventDefault();
    var data = ev.dataTransfer.getData("Text");
    ev.target.appendChild(document.getElementById(data));
    document.getElementById(data).style.height = "100%";
    document.getElementById(data).style.width = "100%";
    document.getElementById(data).style.left = "0%";
    document.getElementById(data).style.top = "0%";
    document.getElementById(data).setAttribute('draggable', false);
    document.getElementById(data).setAttribute('onclick', "compare()");
    document.getElementById(data).setAttribute('data-toggle', "modal");
    document.getElementById("cardback_8_7").setAttribute('onclick', "return flip_8_7()");
    document.getElementById("carddrop_8_07").setAttribute('ondragleave', "");

    var abc =  document.getElementById(data);
    document.getElementById(data).src = "/<%= @name %>/mycard" + abc.id + ".jpg";
    document.getElementById(data).setAttribute('onclick', "compare(" + abc.id + ")" );
    

    document.getElementById("cardback_8_7").style.visibility = 'visible';
    document.getElementById("cardback_8_7").setAttribute('id', abc.id);
    $('.card_8_7').toggleClass('flipped');

    document.getElementById("cardf_8_07").value = abc.id;
    document.getElementById("cardimage_8_7").src = "/<%= @name %>/mycard" + abc.id + ".jpg";
    document.getElementById("cardback_8_7").src = "./<%= @name %>/CardBack.jpg";

    document.getElementById("cardimage_8_7").setAttribute('onclick', "compare(" + abc.id + ")" );
    document.getElementById("cardimage_8_7").setAttribute('data-card-id', abc.id);
    document.getElementById("cardimage_8_7").style.visibility = 'visible';
}
function drop_8_08(ev) {

    ev.preventDefault();
    var data = ev.dataTransfer.getData("Text");
    ev.target.appendChild(document.getElementById(data));
    document.getElementById(data).style.height = "100%";
    document.getElementById(data).style.width = "100%";
    document.getElementById(data).style.left = "0%";
    document.getElementById(data).style.top = "0%";
    document.getElementById(data).setAttribute('draggable', false);
    document.getElementById(data).setAttribute('onclick', "compare()");
    document.getElementById(data).setAttribute('data-toggle', "modal");
    document.getElementById("cardback_8_8").setAttribute('onclick', "return flip_8_8()");
    document.getElementById("carddrop_8_08").setAttribute('ondragleave', "");

    var abc =  document.getElementById(data);
    document.getElementById(data).src = "/<%= @name %>/mycard" + abc.id + ".jpg";
    document.getElementById(data).setAttribute('onclick', "compare(" + abc.id + ")" );
    

    document.getElementById("cardback_8_8").style.visibility = 'visible';
    document.getElementById("cardback_8_8").setAttribute('id', abc.id);
    $('.card_8_8').toggleClass('flipped');

    document.getElementById("cardf_8_08").value = abc.id;
    document.getElementById("cardimage_8_8").src = "/<%= @name %>/mycard" + abc.id + ".jpg";
    document.getElementById("cardback_8_8").src = "./<%= @name %>/CardBack.jpg";

    document.getElementById("cardimage_8_8").setAttribute('onclick', "compare(" + abc.id + ")" );
    document.getElementById("cardimage_8_8").setAttribute('data-card-id', abc.id);
    document.getElementById("cardimage_8_8").style.visibility = 'visible';
}
function drop_8_09(ev) {

    ev.preventDefault();
    var data = ev.dataTransfer.getData("Text");
    ev.target.appendChild(document.getElementById(data));
    document.getElementById(data).style.height = "100%";
    document.getElementById(data).style.width = "100%";
    document.getElementById(data).style.left = "0%";
    document.getElementById(data).style.top = "0%";
    document.getElementById(data).setAttribute('draggable', false);
    document.getElementById(data).setAttribute('onclick', "compare()");
    document.getElementById(data).setAttribute('data-toggle', "modal");
    document.getElementById("cardback_8_9").setAttribute('onclick', "return flip_8_9()");
    document.getElementById("carddrop_8_09").setAttribute('ondragleave', "");

    var abc =  document.getElementById(data);
    document.getElementById(data).src = "/<%= @name %>/mycard" + abc.id + ".jpg";
    document.getElementById(data).setAttribute('onclick', "compare(" + abc.id + ")" );
    

    document.getElementById("cardback_8_9").style.visibility = 'visible';
    document.getElementById("cardback_8_9").setAttribute('id', abc.id);
    $('.card_8_9').toggleClass('flipped');

    document.getElementById("cardf_8_09").value = abc.id;
    document.getElementById("cardimage_8_9").src = "/<%= @name %>/mycard" + abc.id + ".jpg";
    document.getElementById("cardback_8_9").src = "./<%= @name %>/CardBack.jpg";

    document.getElementById("cardimage_8_9").setAttribute('onclick', "compare(" + abc.id + ")" );
    document.getElementById("cardimage_8_9").setAttribute('data-card-id', abc.id);
    document.getElementById("cardimage_8_9").style.visibility = 'visible';
}
function drop_8_10(ev) {

    ev.preventDefault();
    var data = ev.dataTransfer.getData("Text");
    ev.target.appendChild(document.getElementById(data));
    document.getElementById(data).style.height = "100%";
    document.getElementById(data).style.width = "100%";
    document.getElementById(data).style.left = "0%";
    document.getElementById(data).style.top = "0%";
    document.getElementById(data).setAttribute('draggable', false);
    document.getElementById(data).setAttribute('onclick', "compare()");
    document.getElementById(data).setAttribute('data-toggle', "modal");
    document.getElementById("cardback_8_10").setAttribute('onclick', "return flip_8_10()");
    document.getElementById("carddrop_8_10").setAttribute('ondragleave', "");

    var abc =  document.getElementById(data);
    document.getElementById(data).src = "/<%= @name %>/mycard" + abc.id + ".jpg";
    document.getElementById(data).setAttribute('onclick', "compare(" + abc.id + ")" );
    

    document.getElementById("cardback_8_10").style.visibility = 'visible';
    document.getElementById("cardback_8_10").setAttribute('id', abc.id);
    $('.card_8_10').toggleClass('flipped');

    document.getElementById("cardf_8_10").value = abc.id;
    document.getElementById("cardimage_8_10").src = "/<%= @name %>/mycard" + abc.id + ".jpg";
    document.getElementById("cardback_8_10").src = "./<%= @name %>/CardBack.jpg";

    document.getElementById("cardimage_8_10").setAttribute('onclick', "compare(" + abc.id + ")" );
    document.getElementById("cardimage_8_10").setAttribute('data-card-id', abc.id);
    document.getElementById("cardimage_8_10").style.visibility = 'visible';
}
function drop_8_11(ev) {

    ev.preventDefault();
    var data = ev.dataTransfer.getData("Text");
    ev.target.appendChild(document.getElementById(data));
    document.getElementById(data).style.height = "100%";
    document.getElementById(data).style.width = "100%";
    document.getElementById(data).style.left = "0%";
    document.getElementById(data).style.top = "0%";
    document.getElementById(data).setAttribute('draggable', false);
    document.getElementById(data).setAttribute('onclick', "compare()");
    document.getElementById(data).setAttribute('data-toggle', "modal");
    document.getElementById("cardback_8_11").setAttribute('onclick', "return flip_8_11()");
    document.getElementById("carddrop_8_11").setAttribute('ondragleave', "");

    var abc =  document.getElementById(data);
    document.getElementById(data).src = "/<%= @name %>/mycard" + abc.id + ".jpg";
    document.getElementById(data).setAttribute('onclick', "compare(" + abc.id + ")" );
    

    document.getElementById("cardback_8_11").style.visibility = 'visible';
    document.getElementById("cardback_8_11").setAttribute('id', abc.id);
    $('.card_8_11').toggleClass('flipped');

    document.getElementById("cardf_8_11").value = abc.id;
    document.getElementById("cardimage_8_11").src = "/<%= @name %>/mycard" + abc.id + ".jpg";
    document.getElementById("cardback_8_11").src = "./<%= @name %>/CardBack.jpg";

    document.getElementById("cardimage_8_11").setAttribute('onclick', "compare(" + abc.id + ")" );
    document.getElementById("cardimage_8_11").setAttribute('data-card-id', abc.id);
    document.getElementById("cardimage_8_11").style.visibility = 'visible';
}
function drop_8_12(ev) {

    ev.preventDefault();
    var data = ev.dataTransfer.getData("Text");
    ev.target.appendChild(document.getElementById(data));
    document.getElementById(data).style.height = "100%";
    document.getElementById(data).style.width = "100%";
    document.getElementById(data).style.left = "0%";
    document.getElementById(data).style.top = "0%";
    document.getElementById(data).setAttribute('draggable', false);
    document.getElementById(data).setAttribute('onclick', "compare()");
    document.getElementById(data).setAttribute('data-toggle', "modal");
    document.getElementById("cardback_8_12").setAttribute('onclick', "return flip_8_12()");
    document.getElementById("carddrop_8_12").setAttribute('ondragleave', "");

    var abc =  document.getElementById(data);
    document.getElementById(data).src = "/<%= @name %>/mycard" + abc.id + ".jpg";
    document.getElementById(data).setAttribute('onclick', "compare(" + abc.id + ")" );
    

    document.getElementById("cardback_8_12").style.visibility = 'visible';
    document.getElementById("cardback_8_12").setAttribute('id', abc.id);
    $('.card_8_12').toggleClass('flipped');

    document.getElementById("cardf_8_12").value = abc.id;
    document.getElementById("cardimage_8_12").src = "/<%= @name %>/mycard" + abc.id + ".jpg";
    document.getElementById("cardback_8_12").src = "./<%= @name %>/CardBack.jpg";

    document.getElementById("cardimage_8_12").setAttribute('onclick', "compare(" + abc.id + ")" );
    document.getElementById("cardimage_8_12").setAttribute('data-card-id', abc.id);
    document.getElementById("cardimage_8_12").style.visibility = 'visible';
}

function dragEnd(ev){
    if(ev.dataTransfer.dropEffect == "none"){
         var parent = document.getElementById(ev.target.getAttribute("data-parent"));
        
        parent.appendChild(ev.target);
        
    }
}

function flip_8_() {
    $('.card_8_1').toggleClass('flipped');
    $('.card_8_2').toggleClass('flipped');
    $('.card_8_3').toggleClass('flipped');
    $('.card_8_4').toggleClass('flipped');
    $('.card_8_5').toggleClass('flipped');
    $('.card_8_6').toggleClass('flipped');
    $('.card_8_7').toggleClass('flipped');
    $('.card_8_8').toggleClass('flipped');
    $('.card_8_9').toggleClass('flipped');
    $('.card_8_10').toggleClass('flipped');
    $('.card_8_11').toggleClass('flipped');
    $('.card_8_12').toggleClass('flipped');
}
function flip_8_1() {
    $('.card_8_1').toggleClass('flipped');
}
function flip_8_2() {
    $('.card_8_2').toggleClass('flipped');
}
function flip_8_3() {
    $('.card_8_3').toggleClass('flipped');
}
function flip_8_4() {
    $('.card_8_4').toggleClass('flipped');
}
function flip_8_5() {
    $('.card_8_5').toggleClass('flipped');
}
function flip_8_6() {
    $('.card_8_6').toggleClass('flipped');
}
function flip_8_7() {
    $('.card_8_7').toggleClass('flipped');
}
function flip_8_8() {
    $('.card_8_8').toggleClass('flipped');
}
function flip_8_9() {
    $('.card_8_9').toggleClass('flipped');
}
function flip_8_10() {
    $('.card_8_10').toggleClass('flipped');
}
function flip_8_11() {
    $('.card_8_11').toggleClass('flipped');
}
function flip_8_12() {
    $('.card_8_12').toggleClass('flipped');
}

</script>